<ion-view view-title="{{groupTitle}}">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">

        <ion-list>


            <ion-item class="text-center" ng-click="pickDate('date')">
                Pick Date
            </ion-item>
            <ion-item class="text-center" ng-click="pickDate('time')">
                Pick Time
            </ion-item>


        </ion-list>
    </ion-content >

</ion-view>
