<ion-view view-title="{{groupTitle}}">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">

                <div class="text-center">Edit Expense</div>
                <ionic-datepicker idate="expenseDate" disablepreviousdates="true" callback="datePickerCallback">
                    <button class="button button-block button-positive">{{formatDateLocal(expense.ecreated, expense.timezoneoffset)}}</button>
                </ionic-datepicker>

                <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">
                    <button class="button button-block button-positive">{{formatTimeLocal(expense.ecreated, expense.timezoneoffset)}}</button>
                </ionic-timepicker>

                <label class="item item-input">
                    <span class="input-label">Title</span>
                    <input type="text" ng-model="expense.etitle">
                </label>

                <ion-checkbox ng-repeat="(key, val) in members" ng-model="isParticipant" ng-init="isParticipant=checkMember(key)" ng-change="flipMember(key)" >
                    {{memberName(key)}}
                </ion-checkbox>

    </ion-content >

</ion-view>
