<ion-view view-title="{{groupTitle}}">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">

        <ion-list>

            <ion-item class="item-text-wrap">
                <h3>{{expense.etitle}}</h3>
                <p>
                    {{expense.ecreated*1000 | date:'EEEE, MMMM d yyyy HH:mm'}}
                    <span class="item-note">{{ expense.amount | isoCurrency:currency }}</span>
                </p>
                <p>Jan met de korte achternaam</p>
            </ion-item>

            <ion-item class="item-text-wrap">
                <h3>Participants - {{ expense.amount/5 | isoCurrency:currency }} per person</h3>
                <p>Jan met de korte achternaam</p>
                <p>Jan met de hele lange achternaam die niet op het scherm past</p>
                <p>Pietje Nooitgenoeg</p>
                <p>KLaas Vaak</p>
                <p>Hertog Jan</p>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
