<ion-view view-title="{{groupTitle}}">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">

        <ion-list>

            <ion-item class="item-text-wrap">
                <h3>{{expense.etitle}}</h3>
                <p>
                    {{expense.ecreated*1000 | date:'EEEE, MMMM d yyyy HH:mm'}}
                    <span class="item-note">{{ expense.amount | isoCurrency:currency }}</span>
                </p>
                <p>{{memberName(expense.uid)}}</p>
            </ion-item>

            <ion-item class="item-text-wrap">
                <h3>{{participants.length}} Participants - {{ expense.amount/participants.length | isoCurrency:currency }} per person</h3>
                <p ng-repeat="uid in participants">{{memberName(uid)}}</p>
            </ion-item>

            <ion-item class="text-center" >
                Edit
            </ion-item>
            <ion-item class="text-center" ng-click="showConfirm(expense.eid)">
                Delete
            </ion-item>

        </ion-list>
        <small>Last update: {{formatDateTime(expense.eupdated)}}<br />By: {{memberName(expense.eupdateduid)}}</small>
    </ion-content>

</ion-view>
