<ion-view>
    <ion-nav-title>{{groupTitle}}</ion-nav-title>

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">

        <ion-list>

            <ion-item class="item-text-wrap">
                <h3>{{expense.etitle}}</h3>
                <p>
                    {{formatDateTimeLocal(expense.ecreated, expense.timezoneoffset)}}
                    <span class="item-note">{{ expense.amount | isoCurrency:currency }}</span>
                </p>
                <p>{{category.title}}</p>
                <p>{{memberName(expense.uid)}}</p>
            </ion-item>

            <ion-item class="item-text-wrap">
                <h3>{{participants.length}} Participants - {{ expense.amount/participants.length | isoCurrency:currency }} per person</h3>
                <p ng-repeat="uid in participants">{{memberName(uid)}}</p>
            </ion-item>

            <ion-item class="text-center item item-icon-right item-icon-left"  ui-sref="group.expense-edit({eid: expense.eid})">
                <i></i>
                Edit
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item ng-if="canDelete" class="text-center" ng-click="showConfirm(expense.eid)">
                Delete
            </ion-item>

        </ion-list>
        <small>Last update: {{formatDateTime(expense.eupdated)}} UTC<br />By: {{memberName(expense.uid)}}</small>
    </ion-content >

</ion-view>
