<ion-view view-title="{{groupTitle}}">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">


                <ionic-datepicker idate="expenseDate" disablepreviousdates="true" callback="datePickerCallback">
                    <button class="button button-block button-positive">{{formatDateLocal(expense.ecreated, expense.timezoneoffset)}}</button>
                </ionic-datepicker>

                <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">
                    <button class="button button-block button-positive">{{formatTimeLocal(expense.ecreated, expense.timezoneoffset)}}</button>
                </ionic-timepicker>

    </ion-content >

</ion-view>
