<ion-view view-title="{{groupTitle}}">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ui-sref="group.member-detail({uid: 1})">
                <i class="icon ion-android-sad"></i>
                Person 1
        <span class="item-note">
          &euro; -1323,23
        </span>
            </a>
            <a class="item item-icon-left" ui-sref="group.member-detail({uid: 2})">
                <i class="icon ion-android-happy"></i>
                Person 2
        <span class="item-note">
          &euro; 50,00
        </span>
            </a>

            <a class="item item-icon-left" ui-sref="group.member-detail({uid: 3})">
                <i class="icon ion-android-happy"></i>
                Person 3
        <span class="item-note">
          &euro; 0,02
        </span>
            </a>

        </div>
    </ion-content>
</ion-view>

