<ion-view view-title="{{groupTitle}}">

    <ion-content>
        <h3>Expenses for group {{gid}}</h3>

        <ion-list>

            <ion-item ng-repeat="expense in expenses" type="item-text-wrap" ui-sref="group.expense-detail({eid: expense.eid})">
                <h3>{{expense.etitle}}</h3>
                <p>{{expense.amount}}</p>
            </ion-item>

        </ion-list>

<!--

        <div class="list">

            <a class="item item-icon-right" ng-repeat="expense in expenses"
               ui-sref="group.expense-detail({eid: expense.eid})">
                {{expense.etitle}}
                <span class="item-note">&euro; {{expense.amount}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

        </div>

        -->
    </ion-content>
</ion-view>
