<ion-view>
    <ion-nav-title>{{groupTitle}}</ion-nav-title>

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <span class="col text-center h4">Add members to this group</span>

        <!--<form name="registerForm">
            <div class="list list-inset">

                <label class="item item-input" >
                    <input name="email" type="email" placeholder="Email" ng-model="data.email"
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                </label>
                <span class="col text-center"
                      ng-show="registerForm.email.$touched && registerForm.email.$error.pattern">
                    Not a valid email address
                </span>
                <span class="col text-center" ng-show="emailExists">
                    This email address is already registered
                </span>
                </div>
            </form>
        -->
        <form name="form.addMemberForm">
        <fieldset  data-ng-repeat="emailInput in emailList">
            <label class=" item-input">
            <input
                        name="{{emailInput.id}}"
                        id="{{emailInput.id}}"
                        type="email" placeholder="email address"
                        ng-model="newEmails[emailInput.id]"
                        ng-blur="validateAddedEmail(emailInput.id)"
                        ng-focus="checkForNewField(emailInput.id)"
                >
            </label>
            <span class="col text-center" ng-show="newEmails[emailInput.id].length > 0">
                    {{validatedEmails[emailInput.id].status}}
            </span>
            </fieldset>

            <button class="button button-block button-positive"
                    ng-enter="addNewMembers" ng-click="addNewMembers()"
                    ng-disabled="canAddNewMembers == false">Add Members
            </button>

            </form>
    </ion-content>
</ion-view>
