<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-bar class="bar-positive">


            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>


        <ion-tabs class="tabs-icon-top tabs-positive" >

            <!-- New Expense Tab -->
            <ion-tab title="New Expense" icon="ion-ios-plus-outline"  ui-sref="group.newexpense">
                <ion-nav-view name="group-new-expense"></ion-nav-view>
            </ion-tab>

            <!-- Members Tab -->
            <ion-tab title="Members" icon="ion-android-contacts" ui-sref="group.members">
                <ion-nav-view name="group-members"></ion-nav-view>
            </ion-tab>

            <!-- Expenses Tab -->
            <ion-tab title="Expenses" icon="ion-ios-pricetags" ui-sref="group.expenses">
                <ion-nav-view name="group-expenses"></ion-nav-view>
            </ion-tab>

            <!-- Events Tab -->
            <ion-tab title="Events" icon="ion-android-calendar" ui-sref="group.events">
                <ion-nav-view name="group-events"></ion-nav-view>
            </ion-tab>

            <!-- Hidden tabs for side menu. Need separate nav-views to prevent navigation history -->

            <!-- Group Settings Tab -->
            <ion-tab hidden="true" title="Group Settings" ui-sref="group.settings">
                <ion-nav-view name="group-settings"></ion-nav-view>
            </ion-tab>

            <!-- Settle Balance Tab -->
            <ion-tab hidden="true" title="Settle Balance" ui-sref="group.settle">
                <ion-nav-view name="group-settle"></ion-nav-view>
            </ion-tab>

            <!-- Achievements Tab -->
            <ion-tab hidden="true" title="Achievements" ui-sref="group.achievements">
                <ion-nav-view name="group-achievements"></ion-nav-view>
            </ion-tab>

        </ion-tabs>

        <!-- <ion-nav-view name="menuContent"></ion-nav-view> -->
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Group Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <!--
                <ion-item nav-clear menu-close ng-click="login()">
                    Login
                </ion-item>
                -->
                <ion-item menu-close ui-sref="home.groups">
                    Home
                </ion-item>
                <ion-item menu-close ui-sref="group.settings">
                    Group Settings
                </ion-item>
                <ion-item menu-close ui-sref="group.settle">
                    Settle Balance
                </ion-item>
                <ion-item menu-close ui-sref="group.achievements">
                    Achievements
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

