<ion-view view-title="Going Dutch">

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">Going Dutch</h1>
    </ion-header-bar>

    <ion-content>
        <span class="col text-center">{{userData.realname}}</span>
        <span class="col text-center">{{userData.nickName}}</span>
        <span class="col text-center">{{userData.email}}</span>

        <ion-list>
            <ion-item class="item item-icon-right" ui-sref="home.account-details">
                Change name details
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item item-icon-right" ui-sref="home.account-email">
                Change email
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item item-icon-right" ui-sref="home.account-password">
                Change password
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
