<ion-view view-title="Going Dutch">

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline"
                    ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        </div>
        <h1 class="title">Going Dutch</h1>
        <div class="buttons">
            <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                Reorder
            </button>
        </div>
    </ion-header-bar>

    <ion-content>

        <div class="list">

            <a class="item item-icon-right" ng-repeat="group in groups" ui-sref="group.members({gid: group.gid})">
                {{group.title}}
                <span class="item-note">{{ group.balance | isoCurrency:getGroupCurrency(group.gid) }}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

        </div>

    </ion-content>
</ion-view>
