<ion-view view-title="Going Dutch">

    <ion-header-bar class="bar-positive">
        <h1 class="title">Going Dutch</h1>

        <div class="buttons">
            <button class="button ion-navicon" ng-click="data.showReorder = !data.showReorder"></button>
        </div>
    </ion-header-bar>

    <ion-content>

        <ion-list show-reorder="data.showReorder">

            <ion-item class="item-text-wrap item item-icon-right" ng-repeat="group in groups"
                      ui-sref="group.members({gid: group.gid})">
                {{group.title}}
                <span class="item-note">{{ group.balance | isoCurrency:getGroupCurrency(group.gid) }}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-reorder-button class="ion-navicon" on-reorder="moveGroup(group, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
