<ion-view view-title="Going Dutch">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <span class="col text-center">Change password</span>

        <form name="passForm">
            <div class="list list-inset">

                <label class="item item-input">
                    <input name="pwd" id="pwd" type="password" placeholder="Password" ng-model="data.pass"
                           ng-pattern="/.{4,}$/" required>
                </label>
                <span class="col text-center" ng-show="passForm.pwd.$touched && passForm.pwd.$error.pattern">
                    Use at least 4 characters
                </span>

                <label class="item item-input">
                    <input type="password" match-password="pwd" id="pwd2" name="pwd2" placeholder="Retype password"
                           ng-model="data.password2" required>
                </label>
                <span class="col text-center" ng-show="passForm.pwd.$touched && passForm.pwd2.$touched && passForm.pwd2.$invalid">Passwords are not identical</span>

                <button class="button button-block button-positive"
                        ng-enter="updatepass(data)" ng-click="updatePass(data)"
                        ng-disabled="passForm.$invalid">Update
                </button>

            </div>
        </form>

    </ion-content>

</ion-view>
