<ion-view view-title="Going Dutch">

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">Going Dutch</h1>
    </ion-header-bar>

    <ion-content>
        {{debug}}
        <ion-list>
            <ion-toggle ng-model="settings.stayLoggedIn">
                Stay logged in
            </ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>
