<ion-view view-title="Going Dutch">

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">Going Dutch</h1>
        <div class="buttons">
            <button ng-if="!data.showReorder" class="button ion-navicon" ng-click="data.showReorder = !data.showReorder"></button>
            <button ng-if="data.showReorder" class="button ion-checkmark" ng-click="data.showReorder = !data.showReorder"></button>
        </div>
    </ion-header-bar>

    <ion-content>

        <ion-list show-reorder="data.showReorder">

            <ion-item class="item-text-wrap item item-icon-right" ng-repeat="group in groups"
                      ui-sref="group.members({gid: group.gid})">
                <!-- {{group.title}} -->
                {{group.name}}

                <span class="item-note" ng-if="group.balance >= 0" ng-style="{'color':'green'}">
                  {{ group.balance | isoCurrency:currency }}
                </span>
                <span class="item-note" ng-if="group.balance  < 0" ng-style="{'color':'red'}">
                  {{ group.balance   | isoCurrency:currency }}
                </span>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-reorder-button class="ion-navicon" on-reorder="moveGroup(group, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
