<ion-view view-title="Going Dutch">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <span class="col text-center">Change name details</span>

        <form name="nameDetailsForm">
            <div class="list list-inset">
                <span class="col text-left">First or given name</span>
                <label class="item item-input">
                    <input name="firstName" type="text" placeholder="First or given name" ng-model="userData.firstName"
                           ng-maxlength="100" required>
                </label>

                <span class="col text-left">Last or surname</span>
                <label class="item item-input">
                    <input type="text" placeholder="Last or surname" ng-model="userData.lastName" ng-maxlength="100"
                           required>
                </label>

                <span class="col text-left">Full name</span>
                <label class="item item-input">
                    <input type="text" placeholder="Full name" ng-model="userData.realname" ng-maxlength="100"
                           required>
                </label>

                <span class="col text-left">Nickname</span>
                <label class="item item-input">
                    <input type="text" placeholder="Nickname (optional)" ng-model="userData.nickName" ng-maxlength="25">
                </label>

                <button class="button button-block button-positive"
                        ng-enter="updateDetails(userData)" ng-click="updateDetails(userData)"
                        ng-disabled="nameDetailsForm.$invalid">Update
                </button>

            </div>
        </form>

    </ion-content>

</ion-view>
