<ion-view view-title="Sign-In">
    <ion-content class="padding">
        <h2>Going Dutch</h2>
        <p>After kicking off with Machete and running a solid beta for nearly 6 years, it is high time for a new beta!</p>
        <p>This site will be made available as an Android app and perhaps even an iOS app (if I can get myself to find a Mac and fork out $99).</p>
        <p>But the good news is, it works just as well in a browser! Just add the site to your home screen and it should feel like an app.</p>
    </ion-content>
</ion-view>