<ion-view view-title="Sign-In">
    <ion-content class="padding">
        <h2>Going Dutch</h2>
        <form name="loginForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="data.username" required>
                </label>
                <label class="item" ng-if="newPwdSendSuccess == true">
                    A new password has been emailed.
                </label>
                <label class="item item-input" ng-if="showForgetEmail == false">
                    <input type="password" placeholder="Password" ng-model="data.password" required>
                </label>
            </div>
            <button class="button button-block button-positive" ng-if="showForgetEmail == false"
                    ng-enter="login(data)" ng-click="login(data)" ng-disabled="loginForm.$invalid">Login
            </button>

            <div class="row">
                <div class="col text-center">
                    <button class="button-clear" ng-if="showForgetEmail == true && emailNotFound == true">Unknown email
                        address :(
                    </button>
                </div>
            </div>

            <button class="button button-block button-positive"
                    ng-if="showForgetEmail == true && newPwdSendSuccess == false"
                    ng-enter="resetPwd(data)" ng-click="resetPwd(data)">Send new password to this email address
            </button>
            <button class="button button-block button-positive"
                    ng-if="showForgetEmail == true && newPwdSendSuccess == true"
                    ng-enter="returnToLogin()" ng-click="returnToLogin()">Return to login
            </button>

            <br/>
            <div class="row">
                <div class="col text-center">
                    <button class="button-clear" ng-if="showForgetEmail == false" ng-click="forgotPwd()">Forgot
                        password
                    </button>
                    <button class="button-clear" ng-if="showForgetEmail == true && newPwdSendSuccess == false"
                            ng-click="forgotPwd()">I remembered my password
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>