<ion-view view-title="Groups">
  <ion-content class="padding">
    <div class="list">

      

      <a class="item item-icon-left" ui-sref="group.members">
        <i class="icon ion-android-sad"></i>
        Group 1
        <span class="item-note">
          &euro; -1323,23
        </span>
      </a>
      <a class="item item-icon-left" ui-sref="group.members">
        <i class="icon ion-android-happy"></i>
        Group 2
        <span class="item-note">
          &euro; 50,00
        </span>
      </a>

      <a class="item item-icon-left" ui-sref="group.members">
        <i class="icon ion-android-happy"></i>
        Group 3
        <span class="item-note">
          &euro; 0,02
        </span>
      </a>

    </div>
  </ion-content>
</ion-view>
