/* Empty. Add your own CSS if you like */

.item-expenses .item-content  {
    position: relative;
    z-index: 2;
    padding: 9px 49px 9px 16px;
    border: none;
    background-color: #fff;
}

.opaque {
    opacity: 0.3;
}